##### 인덴트

공식 가이드인 PEP 8(Python Enhancement Proposals, 파이썬 개선 제안서) 에 따라 공백 4칸을 원칙으로 함

In [ ]:
# 첫 번째 줄에 파라미터가 없다면 공백 4칸을 추가함
def long_function_name(
    var_one, var_two, var_three, var_four):

    print(var_one)

# 첫 번째 줄에 파라미터가 있다면 파라미터가 시작되는 부분에 보기 좋게 맞춤
foo = long_function_name(var_one, var_two,
                         var_three, var_four)

##### 네이밍 컨벤션

파이썬의 변수명 Naming Convention은 자바와 달리 각 단어를 밑줄(_)로 구분하여 표기하는 Snake Case를 따름

자바같은 경우에는 단어별로 대소문자를 구별하여 표기하는 Camel Case를 따름

- Python : snake_case
- JAVA : CamelCase

##### 타입 힌트

Type Hint : 타입을 지정할 수 있음, PEP 484에 추가됨

In [ ]:
def fn(a : int) -> bool:
    print(a)

# 타입힌트에 오류가 없는지 확인하는 법
"""
(console)
pip install mypy

mypy 파일.py
-> 문제가 있는 경우 Error: Incompatible return value type 발생
"""

##### 리스트 컴프리헨션

map, filter와 같은 함수형(Functional) 기능을 지원하면 람다표현식(Lambda Expression)도 지원

In [2]:
list(map(lambda x : x + 10, [1, 2, 3]))

[11, 12, 13]

List Comprehension : 기존 리스트를 기반으로 새로운 리스트를 만들어내는 구문

In [3]:
[n * 2 for n in range(1, 10 + 1) if n % 2 == 1]

[2, 6, 10, 14, 18]

In [4]:
# List Comprehension을 사용하지 않을 경우
a = []
for n in range(1, 10 + 1):
    if n % 2 == 1:
        a.append(n * 2)

a

[2, 6, 10, 14, 18]

In [6]:
original = {'a':1, 'b':2, 'c':3}

# 딕셔너리에서 사용하는 방법(List comprehension X)
a = {}
for key, value in original.items():
    a[key] = value
print(a)

# 딕셔너리에서 사용하는 방법(List comprehension O)
a = {key : value for key, value in original.items()}
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}

##### 제너레이터

Generator : 루프의 반복 동작을 제어할 수 있는 루틴 형태

In [1]:
# return -> 함수를 멈추고 값을 내보냄
# yield -> 여기까지 실행 값을 내보낸다는 의미(맨 끝까지 실행)

def get_natural_number():
    n = 0
    while 1:
        n += 1
        yield n

def get_number():
    n = 0
    while 1:
        n += 1
        return n

In [3]:
get_number()

1

In [4]:
get_natural_number()

In [5]:
g = get_natural_number()
for _ in range(0, 100):
    print(next(g))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
def generator():
    yield 1
    yield True
    yield 'string'

g = generator()

print(g)
print(next(g))
print(next(g))
print(next(g))

<generator object generator at 0x000001F428FCCC10>
1
True
string

##### range

In [8]:
list(range(5))

[0, 1, 2, 3, 4]

In [9]:
range(5)

range(0, 5)

In [10]:
type(range(5))

range

In [12]:
for i in range(5):
    print(i, end = ' ')

0 1 2 3 4

In [13]:
a = [n for n in range(1000000)]     # 생성된 값
b = range(1000000)                  # 생성자

In [14]:
len(a)

1000000

In [15]:
len(b)

1000000

In [16]:
len(a) == len(b)

True

In [17]:
print(b)
print(type(b))

range(0, 1000000)
<class 'range'>

In [18]:
b[999]

999

In [20]:
import sys

print(sys.getsizeof(a))
print(sys.getsizeof(b))

# 생성자는 값이 많아지더라도 값은 같음
print(sys.getsizeof(range(100000000)))

8697456
48
48

##### enumerate

enumerate : 인텍스를 포함한 enumerate 객체로 리턴함

In [21]:
a = [1, 2, 3, 2, 45 , 2, 5]

a

[1, 2, 3, 2, 45, 2, 5]

In [22]:
enumerate(a)

In [23]:
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 2), (4, 45), (5, 2), (6, 5)]

In [25]:
# 여러가지 방법으로 인덱스와 값 내보내기

# 방법 1
for i in range(len(a)):
    print(i, a[i])

0 1
1 2
2 3
3 2
4 45
5 2
6 5

In [26]:
# 방법 2
i = 0
for v in a:
    print(i, v)
    i += 1

0 1
1 2
2 3
3 2
4 45
5 2
6 5

In [27]:
for i, v in enumerate(a):
    print(i, v)

0 1
1 2
2 3
3 2
4 45
5 2
6 5

##### // 나눗셈 연산자

5 / 3
- python 3.x -> 1.666667
- python 2.x -> 1

//는 파이썬 2.x에서 /와 같으며 몫을 반환한다

In [28]:
5/3

1.6666666666666667

In [29]:
type(5/3)

float

In [30]:
5//3

1

In [31]:
type(5 // 3)

int

In [32]:
int(5 / 3)

1

In [33]:
type(int(5 / 3))

int

In [34]:
# 나머지를 구하는 방법
5 % 3

2

In [36]:
# 몫과 나머지를 같이 구하는 방법
divmod(5, 3)

(1, 2)

##### print

python 2.x에서는 statement(절)이었으나 3.x부터는 함수로 바뀜

In [37]:
print('A1', 'B1')

print('A1', 'B1', sep = ',')

A1 B1
A1,B1

In [39]:
print('aa', end = ' ')
print('bb')

aa bb

In [40]:
a = ['A', 'B']

print(' '.join(a))

A B

In [41]:
idx = 1
fruit = 'Apple'

print('{0}: {1}'.format(idx + 1, fruit))
print('{}: {}'.format(idx + 1, fruit))

2: Apple
2: Apple

In [42]:
print(f'{idx + 1} : {fruit}')

2 : Apple

In [43]:
print('%d : %s' % (idx + 1, fruit))

2 : Apple

##### pass

pass : Null Operator로 아무것도 하지 않는 기능, mockup 인터페이스부터 구현한 다음에 추후 구현을 진행할 수 있게 함

In [44]:
class MyClass(object):
    def method_a(self):

    def method_b(self):
        print('Method B')

IndentationError: expected an indented block (<ipython-input-44-6d4f0c928c55>, line 4)

In [45]:
class MyClass(object):
    def method_a(self):
        # 여기에 pass 추가
        pass

    def method_b(self):
        print('Method B')